.flash.alert
  Warning: You are suggesting we add this story to an upcoming iteration and not a general story.

%h1 Propose addition to upcoming iteration

%section.add-story
  = form_for @story, as: :story, url: iteration_stories_path(@iteration), method: :post, html: { class: 'new_story fill_in' } do |f|
    = render partial: 'shared/story_fields', locals: {form: f}
    .line
      .flash.alert This story will be added directly to the iteration starting <em>#{@iteration.start.strftime('%A %b %d')}</em>.
      = f.button

