---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '7419'
      Etag:
      - '"89f77af7727b28673f8cfd116ca7477e"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":<TRACKERPROJECT>,"kind":"project","name":"AgilData","version":7419,"iteration_length":1,"week_start_day":"Tuesday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Denver","offset":"-06:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_date":"2015-05-26","start_time":"2015-05-26T06:00:00Z","created_at":"2015-05-19T16:29:53Z","updated_at":"2015-07-14T21:24:17Z","account_id":774272,"current_iteration_number":22,"enable_following":true}'
  recorded_at: Wed, 21 Oct 2015 17:11:54 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/stories/98677104
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"code":"unfound_resource","kind":"error","error":"The object you tried
        to access could not be found.  It may have been removed by another user, you
        may be using the ID of another object type, or you may be trying to access
        a sub-resource at the wrong point in a tree."}'
  recorded_at: Wed, 21 Oct 2015 17:11:54 GMT
recorded_with: VCR 2.9.3
