---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1383802
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 9ff67b815874f8a4afbb933a615a5a74
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '34'
      Etag:
      - '"778146ef97390b9ef7919545d4916065"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":1383802,"kind":"project","name":"My Sample Project","version":34,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"Etc/UTC","offset":"+00:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"profile_content":"This
        is a demo project, created by Tracker, with example stories for a simple shopping
        web site.","enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"demo","start_time":"2015-06-22T00:00:00Z","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T19:01:19Z","account_id":774272,"current_iteration_number":4,"enable_following":true}'
  recorded_at: Mon, 13 Jul 2015 22:05:14 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1383802/iterations?scope=current_backlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 9ff67b815874f8a4afbb933a615a5a74
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '34'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '10'
      X-Tracker-Pagination-Returned:
      - '7'
      Etag:
      - '"e3b344f0a063765a180ad76e2c24b46b"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '[{"kind":"iteration","number":4,"project_id":1383802,"team_strength":1,"stories":[{"kind":"story","id":98677104,"project_id":1383802,"name":"Shopper
        should be able to view contents of shopping cart","description":"Cart icon
        in top right corner, with a number indicating how many items in cart","story_type":"feature","current_state":"delivered","estimate":2,"requested_by_id":379075,"owner_ids":[],"labels":[{"kind":"label","id":12166940,"project_id":1383802,"name":"cart","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"},{"kind":"label","id":12166936,"project_id":1383802,"name":"shopping","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"}],"created_at":"2015-06-29T00:00:00Z","updated_at":"2015-07-08T18:57:11Z","url":"https://www.pivotaltracker.com/story/show/98677104"},{"kind":"story","id":98677106,"project_id":1383802,"name":"Shopper
        should be able to remove product from shopping cart","story_type":"feature","current_state":"delivered","estimate":1,"requested_by_id":379075,"owner_ids":[],"labels":[{"kind":"label","id":12166940,"project_id":1383802,"name":"cart","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"},{"kind":"label","id":12166936,"project_id":1383802,"name":"shoppin[...]
[...]
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/1383802/stories
    body:
      encoding: UTF-8
      string: '{"description":"\nAs an customer, I want slack integration, so that
        I can stop importing invoices manually.\n\n## Acceptance Criteria\n\n* \n*
        \n","name":"As a customer, I want slack integration"}'
    headers:
      X-Trackertoken:
      - 9ff67b815874f8a4afbb933a615a5a74
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '35'
      Etag:
      - '"01eeefb9038d4f875ea4ad2afa10f0ba"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":98991768,"project_id":1383802,"name":"As a customer,
        I want slack integration","description":"\nAs an customer, I want slack integration,
        so that I can stop importing invoices manually.\n\n## Acceptance Criteria\n\n*
        \n* \n","story_type":"feature","current_state":"unscheduled","requested_by_id":379075,"owner_ids":[],"labels":[],"created_at":"2015-07-13T22:05:15Z","updated_at":"2015-07-13T22:05:15Z","url":"https://www.pivotaltracker.com/story/show/98991768"}'
  recorded_at: Mon, 13 Jul 2015 22:05:15 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1383802/stories/98991768
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 9ff67b815874f8a4afbb933a615a5a74
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '39'
      Etag:
      - '"71f75073f5c6faf9e67190cd4437f384"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":98991768,"created_at":"2015-07-13T22:05:15Z","updated_at":"2015-07-13T22:05:15Z","story_type":"feature","name":"As
        a customer, I want slack integration","description":"\nAs an customer, I want
        slack integration, so that I can stop importing invoices manually.\n\n## Acceptance
        Criteria\n\n* \n* \n","current_state":"unscheduled","requested_by_id":379075,"project_id":1383802,"url":"https://www.pivotaltracker.com/story/show/98991768","owner_ids":[],"labels":[]}'
  recorded_at: Sun, 19 Jul 2015 21:38:27 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1383802/stories/98991768
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 9ff67b815874f8a4afbb933a615a5a74
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '39'
      Etag:
      - '"71f75073f5c6faf9e67190cd4437f384"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":98991768,"created_at":"2015-07-13T22:05:15Z","updated_at":"2015-07-13T22:05:15Z","story_type":"feature","name":"As
        a customer, I want slack integration","description":"\nAs an customer, I want
        slack integration, so that I can stop importing invoices manually.\n\n## Acceptance
        Criteria\n\n* \n* \n","current_state":"unscheduled","requested_by_id":379075,"project_id":1383802,"url":"https://www.pivotaltracker.com/story/show/98991768","owner_ids":[],"labels":[]}'
  recorded_at: Sun, 19 Jul 2015 21:38:27 GMT
recorded_with: VCR 2.9.3
