---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '55'
      Etag:
      - '"d5031dec82c8dfaeb3c4e50d6c99ec46"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":<TRACKERPROJECT>,"kind":"project","name":"My Sample Project","version":55,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"Etc/UTC","offset":"+00:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"profile_content":"This
        is a demo project, created by Tracker, with example stories for a simple shopping
        web site.","enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"demo","start_time":"2015-06-22T00:00:00Z","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T19:01:19Z","account_id":774272,"current_iteration_number":5,"enable_following":true}'
  recorded_at: Sat, 25 Jul 2015 22:33:05 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/iterations?scope=current_backlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '55'
      X-Tracker-Pagination-Total:
      - '11'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '10'
      X-Tracker-Pagination-Returned:
      - '10'
      Etag:
      - '"d648c6e0fa2aafbb556b2a2e51d9acff"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '[{"kind":"iteration","number":5,"project_id":<TRACKERPROJECT>,"team_strength":0.8,"stories":[{"kind":"story","id":98677104,"project_id":<TRACKERPROJECT>,"name":"Shopper
        should be able to view contents of shopping cart","description":"Cart icon
        in top right corner, with a number indicating how many items in cart","story_type":"feature","current_state":"delivered","estimate":2,"requested_by_id":379075,"owner_ids":[],"labels":[{"kind":"label","id":12166940,"project_id":<TRACKERPROJECT>,"name":"cart","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"},{"kind":"label","id":12166936,"project_id":<TRACKERPROJECT>,"name":"shopping","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"}],"created_at":"2015-06-29T00:00:00Z","updated_at":"2015-07-08T18:57:11Z","url":"https://www.pivotaltracker.com/story/show/98677104"},{"kind":"story","id":98677106,"project_id":<TRACKERPROJECT>,"name":"Shopper
        should be able to remove product from shopping cart","story_type":"feature","current_state":"delivered","estimate":1,"requested_by_id":379075,"owner_ids":[],"labels":[{"kind":"label","id":12166940,"project_id":<TRACKERPROJECT>,"name":"cart","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"},{"kind":"label","id":12166936,"project_id":<TRAC[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/iterations?limit=10&offset=10&scope=current_backlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '55'
      X-Tracker-Pagina[...]
[...]
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/stories
    body:
      encoding: UTF-8
      string: '{"description":"\nAs an customer, I want slack integration, so that
        I can stop importing invoices manually.\n\n## Acceptance Criteria\n\n* \n*
        \n","name":"As a customer, I want slack integration"}'
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '56'
      Etag:
      - '"57622966927a949accdeda54c78454a6"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":99850784,"project_id":<TRACKERPROJECT>,"name":"As
        a customer, I want slack integration","description":"\nAs an customer, I want
        slack integration, so that I can stop importing invoices manually.\n\n## Acceptance
        Criteria\n\n* \n* \n","story_type":"feature","current_state":"unscheduled","requested_by_id":379075,"owner_ids":[],"labels":[],"created_at":"2015-07-25T22:33:06Z","updated_at":"2015-07-25T22:33:06Z","url":"https://www.pivotaltracker.com/story/show/99850784"}'
  recorded_at: Sat, 25 Jul 2015 22:33:06 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/stories/99850784
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '56'
      Etag:
      - '"03be92a29a4369c191f86b05b53025f0"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":99850784,"created_at":"2015-07-25T22:33:06Z","updated_at":"2015-07-25T22:33:06Z","story_type":"feature","name":"As
        a customer, I want slack integration","description":"\nAs an customer, I want
        slack integration, so that I can stop importing invoices manually.\n\n## Acceptance
        Criteria\n\n* \n* \n","current_state":"unscheduled","requested_by_id":379075,"project_id":<TRACKERPROJECT>,"url":"https://www.pivotaltracker.com/story/show/99850784","owner_ids":[],"labels":[]}'
  recorded_at: Sat, 25 Jul 2015 22:33:08 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/stories/99850784
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '56'
      Etag:
      - '"03be92a29a4369c191f86b05b53025f0"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":99850784,"created_at":"2015-07-25T22:33:06Z","updated_at":"2015-07-25T22:33:06Z","story_type":"feature","name":"As
        a customer, I want slack integration","description":"\nAs an customer, I want
        slack integration, so that I can stop importing invoices manually.\n\n## Acceptance
        Criteria\n\n* \n* \n","current_state":"unscheduled","requested_by_id":379075,"project_id":<TRACKERPROJECT>,"url":"https://www.pivotaltracker.com/story/show/99850784","owner_ids":[],"labels":[]}'
  recorded_at: Sat, 25 Jul 2015 22:33:09 GMT
recorded_with: VCR 2.9.3
