%h3 What is Story Tracker?

%p
  Story Tracker is an abstraction layer built on the Pivotal Tracker API. It provides
  an efficient and user-friendly interface for tracking and submitting story requests
  without getting bogged down in the engineering-focused PT interface.

%h3 Why don't I see anything?

%p
  All installations of StoryTracker are restricted behind authentication with
  Github. When properly configured, StoryTracker will verify all users are apart
  of your Github organization before authorizing access.

%h3 What does it support?

%ul.default
  %li View Current and Upcoming Stories by Iteration.
  %li Submit new stories to the Icebox.
  %li Suggest Additions to existing Iterations that have not started.
  %li Track stories you have submitted.
  %li Submitted stories can be sent without direct PT access using a default API token.
  %li If user has direct PT access, they can enter an API token and all future submissions will use that key.

