---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '60'
      Etag:
      - '"54ff79786816fdb6c6aecb294e18cd28"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":<TRACKERPROJECT>,"kind":"project","name":"My Sample Project","version":60,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"Etc/UTC","offset":"+00:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"profile_content":"This
        is a demo project, created by Tracker, with example stories for a simple shopping
        web site.","enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"demo","start_time":"2015-06-22T00:00:00Z","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T19:01:19Z","account_id":774272,"current_iteration_number":6,"enable_following":true}'
  recorded_at: Wed, 29 Jul 2015 14:47:32 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/iterations?scope=current_backlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '60'
      X-Tracker-Pagination-Total:
      - '38'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '10'
      X-Tracker-Pagination-Returned:
      - '10'
      Etag:
      - '"a45abde516f1b05b1d3db453cf2f1c66"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '[{"kind":"iteration","number":6,"project_id":<TRACKERPROJECT>,"team_strength":1,"stories":[{"kind":"story","id":98677104,"project_id":<TRACKERPROJECT>,"name":"Shopper
        should be able to view contents of shopping cart","description":"Cart icon
        in top right corner, with a number indicating how many items in cart","story_type":"feature","current_state":"delivered","estimate":2,"requested_by_id":379075,"owner_ids":[],"labels":[{"kind":"label","id":12166940,"project_id":<TRACKERPROJECT>,"name":"cart","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"},{"kind":"label","id":12166936,"project_id":<TRACKERPROJECT>,"name":"shopping","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"}],"created_at":"2015-06-29T00:00:00Z","updated_at":"2015-07-08T18:57:11Z","url":"https://www.pivotaltracker.com/story/show/98677104"},{"kind":"story","id":98677106,"project_id":<TRACKERPROJECT>,"name":"Shopper
        should be able to remove product from shopping cart","story_type":"feature","current_state":"delivered","estimate":1,"requested_by_id":379075,"owner_ids":[],"labels":[{"kind":"label","id":12166940,"project_id":<TRACKERPROJECT>,"name":"cart","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T18:57:11Z"},{"kind":"label","id":12166936,"project_id":<TRAC[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/iterations?limit=10&offset=10&scope=current_backlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '60'
      X-Tracker-Pagina[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/iterations?limit=10&offset=20&scope=current_backlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '60'
      X-Tracker-Pagination-Total:
      - '38'
      X-Tracker-Pagination-Offset:
      - '20'
      X-Tracker-Pagination-Limit:
      - '10'
      X-Tracker-Pagination-Returned:
      - '10'
      Etag:
      - '"6d672d053b6acbac48e7708ae2286b55"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '[{"kind":"iteration","number":26,"project_id":<TRACKERPROJECT>,"team_strength":1,"stories":[],"start":"2015-12-14T00:00:00Z","finish":"2015-12-21T00:00:00Z"},{"kind":"iteration","number":27,"project_id":<TRACKERPROJECT>,"team_strength":1,"stories":[{"kind":"story","id":98677142,"project_id":<TRACKERPROJECT>,"name":"Shopper
        should be able to sign up for an account with email address","story_type":"feature","current_state":"unstarted","estimate":2,"requested_by_id":379075,"owner_ids":[],"labels":[{"kind":"label","id":12166950,"project_id":<TRACKERPROJECT>,"name":"signup
        / signin","created_at":"2015-07-08T18:57:12[...]
[...]
