---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '67'
      Etag:
      - '"544b7ce4c4e761a5be516db134be1cc0"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":<TRACKERPROJECT>,"kind":"project","name":"My Sample Project","version":67,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"Etc/UTC","offset":"+00:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"profile_content":"This
        is a demo project, created by Tracker, with example stories for a simple shopping
        web site.","enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"demo","start_time":"2015-06-22T00:00:00Z","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T19:01:19Z","account_id":774272,"current_iteration_number":7,"enable_following":true}'
  recorded_at: Sat, 08 Aug 2015 22:34:00 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/stories
    body:
      encoding: UTF-8
      string: '{"name":"As a customer, I want foo bar","description":"As an boss,
        I want another drink, so that I get drunk"}'
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '68'
      Etag:
      - '"d6fdbf315ca5ad6a4fb0985c782bf638"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":100879130,"project_id":<TRACKERPROJECT>,"name":"As
        a customer, I want foo bar","description":"As an boss, I want another drink,
        so that I get drunk","story_type":"feature","current_state":"unscheduled","requested_by_id":379075,"owner_ids":[],"labels":[],"created_at":"2015-08-08T22:34:01Z","updated_at":"2015-08-08T22:34:01Z","url":"https://www.pivotaltracker.com/story/show/100879130"}'
  recorded_at: Sat, 08 Aug 2015 22:34:01 GMT
recorded_with: VCR 2.9.3
