%h3 User List
%table.table-minimal.users
  %thead
    %tr
      %th Name
      %th Github Username
      %th Role
      %th
  %tbody
    = render partial: 'user', collection: @users
  %tfoot
    %tr
      %td{colspan: 4} Total Users: #{@users.count}

