table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

thead th {
  background-color: rgba(0,0,0,0.02);
}

tfoot td {
  text-align: right;
  font-size: 70%;
  background-color: rgba(0,0,0,0.02);
  padding-right: 1.5em;
  border-bottom: 0px;
}
