%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.logo{href: user_signed_in? ? iterations_path : root_path}
      Storytracker
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        - if user_signed_in? and policy(:story).create?
          %li.nav-link
            %a.button{href: new_story_path} Propose Story
          %li.nav-link
            %a.button.red{href: new_defect_path} Report Defect
    .navigation-tools
    .navigation-tools
      %ul
        - if !user_signed_in?
          %li.nav-link
            %a{href: login_path} Log In
        - else
          - if policy(:story).create?
            %li.nav-link
              %a{href: account_path} Your Requests (#{current_user.stories.count})
            %li.nav-link
              %a{href: edit_user_path(current_user)} Edit Account Settings
          %li.nav-link
            %a{href: logout_path} Log Out
