
<div class="cd-panel from-right">
  <header class="cd-panel-header">
    <h4>View Story Details</h4>
    <a href="#0" class="cd-panel-close">Close</a>
  </header>

  <div class="cd-panel-container">
    <div class="cd-panel-content">
      <p></p>

      <p></p>

      <p></p>

      <p></p>
    </div> <!-- cd-panel-content -->
  </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->

