
<div class="cd-panel from-right">
  <header class="cd-panel-header">
    <h4><a href="" class="seperate-window">View in New Window</a></h4>
    <a href="#0" class="cd-panel-close">Close</a>
  </header>

  <div class="cd-panel-container">
    <div class="cd-panel-content">

      <h1 class='name'></h1>
      <%# <h5>Description</h5> %>
      <p class='current-description markdown'></p>

      <section class="versions">
        <h5>Version History</h5>
        <table class="version-history">
          <thead>
            <th>Version</th>
            <th>Comment</th>
            <th>Changed</th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </section>
      <%# <p class='original-description markdown'></p> %>
    </div> <!-- cd-panel-content -->
  </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->

