<div class="cd-secondary-nav">
  <a href="#0" class="cd-secondary-nav-trigger"><span></span></a> <!-- button visible on small devices -->
  <nav>
    <ul>
      <li>
        <a href="<%= new_story_path %>">
          Request Feature
        </a>
      </li>
      <li>
        <a href="<%= new_defect_path %>">
          Report Defect
        </a>
      </li>
      <%# <li> %>
        <%# <a href="/open-question"> %>
          <%# Ask Question %>
        <%# </a> %>
      <%# </li> %>
      <li>
        <a href="<%= page_path('faq') %>">
          FAQ
        </a>
      </li>
    </ul>
  </nav>
</div> <!-- .cd-secondary-nav -->

