%section.report-defect
  = form_for @defect, as: :defect, url: defects_path, method: :post, html: { class: 'new_defect fill_in' } do |f|
    = render partial: 'form', locals: {form: f}
    .line
      .flash.notice This story will be added to the icebox and be discussed in an upcoming Pre-IPM.
      = f.button

