%section.report-defect
  = form_for @defect, as: :defect, url: defects_path, method: :post, html: { class: 'new_defect fill_in' } do |f|
    = render partial: 'form', locals: {form: f}
    .line
      = f.button class: 'button', alt: 'File Report' do
        %i.fa.fa-send
        File Report
  :erb
    <div class="discussion-notice">
      This story will be added to the icebox and be discussed in an upcoming Pre-IPM.
    </div>
