%h1 Proposing a Story

%section.add-story
  = form_for @story, as: :story, url: stories_path, method: :post, html: { class: 'new_story fill_in' } do |f|
    = render partial: 'shared/story_fields', locals: {form: f}
    = f.button

