.fixed
  .padded.borderless
    = link_to 'Back to story list', iterations_path
    %h1 Search Results for &ldquo;#{params[:q]}&rdquo;

    - if @stories.empty?
      %p No results found.
    - else
      %ul
        - @stories.each do |story|
          %li
            = link_to story.name, story_path(story)

