.fixed
  .padded.borderless
    %article.story{'data-story-url' => story_path(@story)}

      .stats
        .row
          = render partial: 'sidebar', locals: {story: @story}
        -# .item.external_ref
          %span External ID
          %span.name #{@story.external_ref || '-'}

      .body
        %div
          %h1 #{@story.name}
          %p.story-description
            &nbsp;

        %section.versions
          %h5 Version History
          %table.version-history
            %thead
              %th Version
              %th Comment
              %th Changed
            %tbody
