
<div class="cd-secondary-nav">
  <a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
  <nav>
    <ul>
      <li>
        <a href="#cd-placeholder-1">
          <b>Intro</b>
          <span></span><!-- icon -->
        </a>
      </li>
      <li>
        <a href="#cd-placeholder-2">
          <b>Location</b>
          <span></span><!-- icon -->
        </a>
      </li>
      <li>
        <a href="#cd-placeholder-3">
          <b>Chat</b>
          <span></span><!-- icon -->
        </a>
      </li>
      <li>
        <a href="#cd-placeholder-4">
          <b>Calendar</b>
          <span></span><!-- icon -->
        </a>
      </li>
      <li>
        <a href="#cd-placeholder-5">
          <b>Stats</b>
          <span></span><!-- icon -->
        </a>
      </li>
    </ul>
  </nav>
</div> <!-- .cd-secondary-nav -->

