@charset "UTF-8";

@font-face {
  font-family: "storytrackericons";
  src: font-url("storytrackericons.eot");
  src: font-url("storytrackericons.eot?#iefix") format("embedded-opentype"),
    font-url("storytrackericons.woff") format("woff"),
    font-url("storytrackericons.ttf") format("truetype"),
    font-url("storytrackericons.svg#storytrackericons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "storytrackericons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="st-"]:before,
[class*=" st-"]:before {
  font-family: "storytrackericons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.st-icons-bug:before {
  content: "a";
}
.st-icons-chore:before {
  content: "b";
}
.st-icons-feature:before {
  content: "c";
}
.st-icons-map-pin:before {
  content: "d";
}
.st-icons-minus-round:before {
  content: "e";
}
.st-icons-plus-round:before {
  content: "f";
}
.st-icons-release:before {
  content: "g";
}
.st-icons-risk:before {
  content: "h";
}
.st-icons-unwatch:before {
  content: "i";
}
.st-icons-watch:before {
  content: "j";
}

