
//reds
$redLight: rgb(186, 8, 14);
$redDark: rgb(107, 15, 1);
//oranges
/* $orangeLight: rgb(226, 89, 21); */
$orangeLight: rgb(253,147,1);
$orangeDark: rgb(254, 147, 2);
//yellows
$yellowHot: rgb(230, 255, 17);
$yellowDark: rgb(255, 212, 38);
//greens
$greenHot: rgb(140, 245, 0);
$greenLight: rgb(101, 246, 172);
$greenDark: rgb(42, 170, 15);
//blues
$blueHot: rgb(37, 232, 243);
$blueLight: rgb(0, 184, 215);
$blueDark:  rgb(1, 80, 119);

.fa-circle {
  &.approved { color: $blueLight; }
  &.rejected { color: $redLight; }
}

.st-icons-map-pin {
  &:before {
    font-size: 30px;
    margin-right: 16px;
  }
  &.red {
    color: $redDark;
  }
  &.blue {
    color: #00B8D7; //$blueDark;
  }
  &.orange {
    color: $orangeLight;
  }
  &.green {
    /* color: #6ACC00; //$greenDark; */
    color: #6ACC00; //$greenDark;
  }
}

@import 'normalize';
@import 'bourbon/bourbon';

$grid-settings: (
  margin: 0.5rem,
  columns: 12,
  row-spacing: 0.5rem
) !default;

@import 'grid';
@import 'flashes';

// Import Work Sans font
/* @import url(https://fonts.googleapis.com/css?family=Work+Sans:200,300,500,700,400,100); */
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,100italic,400italic,700,700italic); */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic);

@import 'icons';
@import 'panel';
@import 'secondary_nav';
@import 'buttons';
@import 'fill_in_form';
@import 'search';

@mixin antialiasing($type: antialiased) {
  /* antialiased, none, subpixel-antialiased*/
  -webkit-font-smoothing: $type;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: $type;
  font-smooth: always;
}

$worksans: 'Work Sans';
$lato: 'Lato';
$source-sans: 'Source Sans Pro';
$font-family: $source-sans, sans-serif;
$base-font-color: #323232;

body {
  font-family: $font-family;
  font-weight: 200;
  @extend %container;
  color: $base-font-color;
  background-color: #FAFBFC;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

* {
/* @include antialiasing(subpixel-antialiased); */
  @include antialiasing(antialiased);
}

.fixed {
  @extend %row;
  .padded {
    @include columns(9);
    margin: 0 auto;
    &:not(.borderless) {
      border-left: 5px solid darken(#F1F1F1, 5%);
    }
  }

}

.filters {
  text-align: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 0.3rem;
      a {
        text-decoration: none;
        font-weight: 500;
        text-transform: uppercase;
        color: #333;
      }
      &.active {
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
      }
    }
  }
}

article.story h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.story {
  @extend %row;

  .body {
      @include columns(12);
      >div {
        flex-direction: column;
        display: flex;
      }
    }

}
.stats {
  @include column;
  background-color: rgba(255,255,255,0.1);
  /* border: 1px solid red; */
  margin-top: 1.2rem;
  padding: 0.4em;
  margin-bottom: 0;

  a { cursor: pointer; }
  .row {
    @extend %row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 0;
  }
  .item .fa { opacity: 0.9; padding-right: 0.4rem; }

  .item a {
    text-decoration: none;
    border-bottom: 1px dotted $base-font-color;
    color: $base-font-color;
    padding-bottom: 0.1em;
    &:hover {
      border-bottom: 1px solid $base-font-color;
    }
  }

  .watch {
    flex: 0 1 110px;
    /* @media only screen and (max-width: 1000px) { */
      /* flex: 0 1 25px; */
      /* .fa { padding-right: 0; } */
      /* .name { display: none; } */
      /* a { border-bottom: none; } */
    /* } */
    span.fa {
      padding-right: 0.4rem;
    }
  }
  .updated { flex: 1 1 150px;}
  .risk { flex: 0 1 90px; }
  .type {  flex: 0 1 110px; }
  .author { flex: 1 1 100px; text-align: right;}
  .external-link {
    flex: 0 1 100px;
    text-align: right;
    /* @media only screen and (max-width: 1000px) { */
      /* flex: 0 1 25px; */
      /* .fa { padding-right: 0; } */
      /* .name { display: none; } */
      /* a { border-bottom: none; } */
    /* } */
  }
}

header.page {
  @extend %row;
  align-items: flex-end;
}

header.page a {
  flex: 1;
  text-decoration: none;
  @extend %row;
  align-items: baseline;
  img {
    @include flex(0 1 43px);
  }
  @include respond-to(phones) {
    flex-direction: row;
  }
  h1 {
    @include flex(1);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1.64px;
    line-height: 47px;
    color: #677B82;
  }
}

section.iterations-list, section.story-group {
  @extend %row;
  > * {
    margin-bottom: 1px !important;
  }
  aside {
    @include columns(3);
    padding-right: 0;
    @include respond-to(phones) {
      padding-left: 0;
    }
    .iteration, .group {
      @include respond-to(phones) {
        background: none;
        padding-left: 0;
        padding-bottom: 0;
      }
      background-color: #f1f1f1;
      padding: 0.8rem 0.8rem;
      >div {
        @extend %row;
        align-items: flex-start;
        @include respond-to(phones) {
          flex-direction: row;
        }

        figure {
          flex: 0 1 30px;
          margin: 0 1rem 0 0;
          text-align: right;
          @include respond-to(phones) {
            text-align: left;
          }
        }
        .name {
          h2 { margin-bottom: 0.1rem; }
          text-align: left;
          flex: 1;
          small { opacity: 0.4; }
        }
      }
    }
  }

  .stories {
    @include columns(9);
    padding-top: 5rem;
    padding-left: 0;

    border-left: 4px solid transparent;
    &.green {
      border-color: #6ACC00;
      .story.tracked { border-color: rgba(#6ACC00, 0.5); }
      .story.linked {
        border-top: 4px solid rgba(#6ACC00, 0.5);
        border-bottom: 4px solid rgba(#6ACC00, 0.5);
        border-right: 4px solid rgba(#6ACC00, 0.5);
      }
    }
    &.orange {
      border-color: $orangeLight;
      .story.tracked { border-color: rgba($orangeLight, 0.5); }
      .story.linked {
        border-top: 4px solid rgba($orangeLight, 0.5);
        border-bottom: 4px solid rgba($orangeLight, 0.5);
        border-right: 4px solid rgba($orangeLight, 0.5);
      }
    }
    &.blue {
      border-color: #00B8D7;
      .story.tracked { border-color: rgba(#00B8D7, 0.5); }
      .story.linked {
        border-top: 4px solid rgba(#00B8D7, 0.5);
        border-bottom: 4px solid rgba(#00B8D7, 0.5);
        border-right: 4px solid rgba(#00B8D7, 0.5);
      }
    }

    @include respond-to(phones) {
      padding-top: 0;
      border-left: 1px dotted #aaa;
    }
    .stats {
      box-shadow: inset 0px 1px 1px darken(#F1F1F1, 8%);
    }
    .story {
      /* margin-left: 0.8rem; */
      border-left: 0.8rem solid #FAFBFC;
      @include transition(border-color .5s);
      &.tracked {
        border-left: 0.8rem solid #FAFBFC; //rgba(147,128,108,.2);
        margin-left: 0;
        @include transition(border-color .5s);
      }

      /* @include display(flex); */
      @extend %row;
      align-items: center;
      margin-bottom: 0.5rem;
      /* text-shadow:0 0 1px white; */
      @include respond-to(phones) {
        align-items: center;
      }
      h3 {
        padding: .8em 0;
        display: inline-block;
        text-shadow: 0 1px 1px white;
        @include respond-to(phones) {
          font-size: 80%;
          font-weight: 300;
        }
      }
      figure {
        display: inline-block;
        text-align: left;
        margin: 0;
        &.type {
          font-weight: 200;
        }
      }
      .body {
        @include columns(12);
        >div {
          flex-direction: column;
          display: flex;
        }
      }
      p.description {
        padding: 0.2rem 0.6rem;
        font-size: 85%;
        border-left: 2px solid rgba(0,0,0,0.1);
        line-height: 1.4em;
        @include respond-to(phones) {
          font-size: 70%;
        }
      }
      small { flex: 1; font-size: 60%; text-align: right; }
      background-color: rgba(147,128,108,.1);
    }
  }
}


