---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '77'
      Etag:
      - '"4c41f682ead4f7298f582aec6e37bcaf"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":<TRACKERPROJECT>,"kind":"project","name":"My Sample Project","version":77,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"Etc/UTC","offset":"+00:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"profile_content":"This
        is a demo project, created by Tracker, with example stories for a simple shopping
        web site.","enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"demo","start_time":"2015-06-22T00:00:00Z","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T19:01:19Z","account_id":774272,"current_iteration_number":17,"enable_following":true}'
  recorded_at: Mon, 12 Oct 2015 22:27:13 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/stories/99380284
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"code":"unfound_resource","kind":"error","error":"The object you tried
        to access could not be found.  It may have been removed by another user, you
        may be using the ID of another object type, or you may be trying to access
        a sub-resource at the wrong point in a tree."}'
  recorded_at: Mon, 12 Oct 2015 22:27:13 GMT
recorded_with: VCR 2.9.3
