---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '60'
      Etag:
      - '"54ff79786816fdb6c6aecb294e18cd28"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":<TRACKERPROJECT>,"kind":"project","name":"My Sample Project","version":60,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"Etc/UTC","offset":"+00:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"profile_content":"This
        is a demo project, created by Tracker, with example stories for a simple shopping
        web site.","enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"demo","start_time":"2015-06-22T00:00:00Z","created_at":"2015-07-08T18:57:11Z","updated_at":"2015-07-08T19:01:19Z","account_id":774272,"current_iteration_number":6,"enable_following":true}'
  recorded_at: Wed, 29 Jul 2015 14:48:10 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>/stories
    body:
      encoding: UTF-8
      string: '{"name":"As a customer, I want foo bar","description":"As an boss,
        I want another drink, so that I get drunk","after_id":null}'
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"code":"invalid_parameter","kind":"error","error":"One or more request
        parameters was missing or invalid.","requirement":"Command parameters that
        directly set properties of resources must be identical to the result value.","general_problem":"Got
        bad values for the following parameter(s):  none of the supplied object-move
        parameters match the generated results (''after_id'' parameter was  but result
        was 98677188)","possible_fix":"Normalize the parameter values before sending
        them to the server."}'
  recorded_at: Wed, 29 Jul 2015 14:48:11 GMT
recorded_with: VCR 2.9.3
