---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<TRACKERPROJECT>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKERAPITOKEN>"
  response:
    status:
      code: 403
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: UTF-8
      string: '{"code":"invalid_authentication","kind":"error","error":"Invalid authentication
        credentials were presented.","possible_fix":"Verify that your token value
        matches what''s shown on your Profile page in Tracker."}'
  recorded_at: Tue, 28 Jul 2015 14:31:17 GMT
recorded_with: VCR 2.9.3
