@import 'normalize';
@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

@import 'foundation-icons';

@import 'fill_in_form';
@import 'footer';
@import 'navigation';
@import 'table_minimal';
@import 'vertical_tabs';
@import 'sans_serif';
@import 'search';

@import 'gh-buttons';
@import 'story';

.follow {
  display: inline-block;
  .gh-button {
    margin-left: 0;
  }
}

.main {
  @include outer-container;
  padding-top: 2em;
  padding-bottom: 2em;
}

p.nothing-targetted {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  font-style: italic;
}

.disclaimer { text-align: center; font-size: 0.8em; font-style: italic; }

.suggestion {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
  margin-bottom: 1em;
}

form .hint {
  color: darken($alert-color, 60%);
  padding: 1em 2em;
  font-style: italic;
  font-size: 0.9em;
  background-color: $alert-color;
  margin-bottom: 1em;
  &.done {
    color: darken($success-color, 60%);
    background-color: $success-color;
  }
}

form .error {
  color: darken($error-color, 60%);
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 1em;
  display: inline-block;

}

.stories.admin {
  .story {
    border-bottom: 1px solid #F1F1F1;
    padding: ($base-spacing / 2);
    form { display: inline; }
  }
}

td.delete {
  text-align: right;
}

table form {
  label, select, input, .input {
    display: inline-block;
  }
  label {
    padding-right: ($base-spacing / 3);
  }
  select {
    margin-bottom: ($base-spacing / 3);
  }
}

.iteration-tools {
  @include span-columns(12);
  #search {
    @include pad(0 0 default default);
    @include span-columns(4);
    @include shift(8);

  }
}
